<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div class="column" id="nav">
				<button>SEARCH</button>
				<button>SETTINGS</button>
			</div><!--
			--><div class="column" id="feed">
				<div class="post">
					<div class="title">Story Title | Source</div>
					<div class="content">
						Ut et congue libero. Ut mollis orci et ante iaculis, in aliquet lorem dignissim. Vivamus a velit id erat lacinia aliquet. Morbi vulputate commodo lorem, interdum fermentum libero condimentum vitae. Vestibulum id mattis enim. Morbi blandit luctus neque, non feugiat velit euismod at. Nam ut nibh ac risus luctus pharetra. Pellentesque fringilla risus et convallis hendrerit. Praesent posuere bibendum nulla id rutrum. Duis cursus ligula sed condimentum lobortis. Cras convallis mi mi, eu dignissim ligula rutrum et. Morbi leo urna, accumsan at egestas eu, pulvinar id nisi.
					</div>
					<div class="timestamp">Friday February 6, 2015</div>
				</div>
				<div class="post">
					<div class="title">Story Title | Source</div>
					<div class="content">
						Praesent blandit nulla sapien, a tristique ante ornare id. Maecenas at sapien et erat tempus placerat non at diam. Maecenas vitae orci eu neque aliquam ultricies a ac nisl. Integer vel lacus in turpis fermentum pretium. Sed ornare ut libero nec vestibulum. Morbi rhoncus neque ac lorem interdum, at tempor nisl volutpat. Quisque ex nisi, eleifend eu blandit non, rhoncus at dui. Nunc suscipit dapibus vulputate. Suspendisse pharetra eros nibh, ut gravida risus imperdiet ut. Donec vel dui metus. Aliquam in sollicitudin nisl.
					</div>
					<div class="timestamp">Friday February 6, 2015</div>
				</div>
				<div class="post">
					<div class="title">Story Title | Source</div>
					<div class="content">
						Curabitur ac maximus quam. Curabitur non fermentum nunc, id ornare tortor. Aenean iaculis maximus enim, sit amet malesuada sem tincidunt sed. Nam congue orci at lectus tincidunt, in consequat orci maximus. Proin finibus finibus elit vitae pharetra. Nullam vehicula efficitur commodo. Aenean eu ex vitae neque volutpat sodales.
					</div>
					<div class="timestamp">Friday February 6, 2015</div>
				</div>
				<div class="post">
					<div class="title">Story Title | Source</div>
					<div class="content">
						Phasellus eu quam eget diam euismod consectetur. Duis et fermentum turpis. Suspendisse elementum ipsum non libero iaculis, ut tempus neque sodales. Praesent consectetur ut lacus eget placerat. Nunc convallis suscipit metus. Nulla consequat posuere diam quis finibus. Phasellus nec enim sagittis, vestibulum nisi hendrerit, semper turpis. In scelerisque odio eu diam gravida, quis viverra mauris scelerisque. Pellentesque mattis, est id finibus accumsan, ipsum ipsum ultricies dui, et rutrum neque lectus vitae metus. Duis lacinia, elit sit amet posuere eleifend, velit lorem sollicitudin lorem, a condimentum nibh quam gravida risus. Nam nec dui at turpis consequat maximus eu non erat.
					</div>
					<div class="timestamp">Friday February 6, 2015</div>
				</div>
				<div class="post">
					<div class="title">Story Title | Source</div>
					<div class="content">
						Suspendisse potenti. Nullam dolor neque, condimentum in ultrices sed, gravida quis sem. Aenean rhoncus vel metus sit amet vestibulum. Donec volutpat, quam interdum elementum lobortis, ipsum erat maximus nulla, vel dapibus massa nisl at mauris. Proin eget laoreet enim. Phasellus gravida consectetur sapien, quis vulputate magna imperdiet vitae. Nunc odio est, fringilla tempor odio id, dignissim tincidunt felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque at mi ut ex sodales pulvinar. Maecenas ultrices nisi sed ipsum dignissim, ut interdum eros dignissim. Aliquam nisl tellus, semper sit amet sagittis eget, tristique ut mauris. Integer eleifend tortor luctus lacus scelerisque, eget dignissim ligula dignissim. Nam efficitur ipsum ante, eget tempus turpis faucibus vitae. In hendrerit, urna ac suscipit semper, quam arcu porttitor magna, ut porttitor turpis tortor ac dolor. Integer et neque eget tellus sagittis imperdiet.
					</div>
					<div class="timestamp">Friday February 6, 2015</div>
				</div>
			</div><!--
			--><div class="column" id="feeders">
				feeders
			</div>
		</div>
		<script type="text/javascript" src="/javascripts/index.js"></script>
	</body>
</html>
