<!DOCTYPE html>
<html>

<head>
	<title>Ripl.me</title>
</head>

<body>
	<div id="nav" class="column">
	</div>
	<div id="feed" class="column">
	</div>
	<div id="feeders" class="column">
</body>
</html>