<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="wrapper">
		<button id="home_button">HOME</button>
			<div class="column" id="nav">
				<button>SEARCH</button>
				<button>SETTINGS</button>
			</div><!--
			--><div class="column" id="feed">
				feed
			</div><!--
			--><div class="column" id="feeders">
				feeders
			</div>
		</div>
		<script type="text/javascript" src="/javascripts/index.js"></script>
	</body>
</html>
