<!DOCTYPE html>
<html>

<head>
	<title>Ripl.me</title>
</head>

<body>
	<div id="nav" class="column">
		nav
	</div><!--
	--><div id="feed" class="column">
		feed
	</div><!--
	--><div id="feeders" class="column">
		feeders
	</div>
</body>
</html>