<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div id="wrapper">
			<div class="column" id="nav">
				<button><img src="/images/home.png"></button>
				<button>S</button>
			</div><!--
			--><div class="column" id="feed">
				feed
			</div><!--
			--><div class="column" id="feeders">
				feeders
			</div>
		</div>
	</body>
</html>
