<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div id="wrapper">
			<div class="column" id="nav">
			</div>
			<div class="column" id="feed">
			</div>
			<div class="column" id="feeders">
			</div>
		</div>
	</body>
</html>
