<!DOCTYPE html>
<html>
	<head>
		<title>Ripl.me</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel='stylesheet' href='/stylesheets/landing.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<img src="/images/logo.png" id="logo">
		<h3>Coming soon!</h3>
		<p>Register here to be notified:</p>
		<form method="post">
			<input class="name" type="text" placeholder="First name" name="fname"><!--
			--><input class="name" type="text" placeholder="Last name" name="lname"><br>
			<input id="email" type="text" placeholder="Email" name="email"><br>
			<button>Notify Me!</button>
		</form>
		<script type="text/javascript" src="/javascripts/landing.js"></script>
	</body>
</html>