<!DOCTYPE html>
<html>
	<head>
		<title>Ripl.me</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel='stylesheet' href='/stylesheets/landing.css' />
	</head>
	<body>
			<h1>Ripl</h1>
			<h3>Coming soon!</h3>
			<p>Register here to be notified:</p>
			<form method="post">
				<input class="name" type="text" placeholder="First name" name="fname">
				<input class="name" type="text" placeholder="Last name" name="lname"><br>
				<input id="email" type="text" placeholder="Email" name="email"><br>
				<button>Notify Me!</button>
			</form>
	</body>
</html>