<!DOCTYPE html>
<html>
	<head>
		<title>Ripl.me</title>
		<link rel='stylesheet' href='/stylesheets/landing.css' />
	</head>
	<body>
		<div id="input_wrapper">
			<h1>Ripl</h1>
			<p>Coming soon! Register<br>
			here to be notified:</p>
			<form method="post">
				<input class="name" type="text" placeholder="First name" name="fname">
				<input class="name" type="text" placeholder="Last name" name="lname"><br>
				<input id="email" type="text" placeholder="Email" name="email"><br>
				<button>Notify Me!</button>
			</form>
	</body>
</html>