<!DOCTYPE html>
<html>
	<head>
		<title>Ripl.me</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel='stylesheet' href='/stylesheets/landing.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="page" id="page1">
			<img src="/images/logo.png" id="logo">
			<h3>Coming soon!</h3>
				<div>
					<p>Register here to be notified:</p>
					<input class="name" type="text" placeholder="First name" name="fname">
					<input class="name" type="text" placeholder="Last name" name="lname"><br>
					<input id="email" type="text" placeholder="Email" name="email"><br>
					<button onclick='signup()'>Notify Me!</button>
				</div>
		</div>
		<div class="page" id="page2">
		<h1>About</h1>
		<p>About ripl.me, awesome site, someone fill this out</p>
		<p>facebook link:</p>
		<contact>contact info</contact>
		</div>		
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script type="text/javascript" src="/javascripts/ajax.js"></script>
			<script type="text/javascript" src="javascripts/landing.js"></script>
	</body>
</html>