<!DOCTYPE html>
<html>
	<head>
		<title>Ripl.me</title>
		<link rel='stylesheet' href='/stylesheets/landing.css' />
	<link href='http://fonts.googleapis.com/css?family=Lobster|Dosis' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="input_wrapper">
			<h1>Ripl.me</h1>
			<p>Coming soon! Register<br>
			here to be notified:</p>
			<form method="post">
				<input type="text" placeholder="Name" name="name"><br>
				<input type="text" placeholder="Email" name="email"><br>
				<button>Notify Me!</button>
			</form>
	</body>
</html>