* {
	outline: 0;
	padding: 0;
	margin: 0;
	min-height: 100%;
}

::-webkit-input-placeholder {
   color: #266;
}

::-moz-placeholder {
   color: #266;  
}

:-ms-input-placeholder {  
   color: #266;  
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#pt_sansregular') format('svg');
}

@font-face {
    font-family: 'Kumiz FY';
    src: url('Fontyou - Kumiz FY Regular.ttf') format('truetype');
}

body {
	color: #000;
	background: linear-gradient(to top, #8ce, #ace);
}

h1 {
	margin-top: 10%;
	text-align: center;
	font-family: "Kumiz FY";
	font-size: 10em;
	font-weight: normal;
	letter-spacing: -12px;
	color: #246;
	background: -webkit-linear-gradient(#6080a0, #006060);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	margin: 0;
	text-align: center;
	font-family: "PT Sans";
	font-size: 2em;
	font-weight: normal;
	letter-spacing: -3px;
	color: #246;
	background: -webkit-linear-gradient(#6080a0, #006060);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p {
	margin: 1% 0;
	text-align: center;
	font-family: "PT Sans";
	letter-spacing: -1px;
	color: #246;
}

form {
	text-align: center;
}

input, button {
	margin: 5px 3px;
	padding: 5px;
	border: none;
	border-radius: 2px;
	background-color: #6ab;
	color: #246;
	font-family: "PT Sans";
}

.name {
	width: 5%;
}

#email {
	width: 11%;
}

button {
	width: 5%;
	font-size: 15px;
	font-weight: bold;
	color: #246;
}