* {
	outline: 0;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

html{
	height: 100%;
}

::-webkit-input-placeholder {
   color: #466;
}

::-moz-placeholder {
   color: #466;  
}

:-ms-input-placeholder {  
   color: #466;  
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#pt_sansregular') format('svg');
}

@font-face {
    font-family: 'Kumiz FY';
    src: url('Fontyou - Kumiz FY Regular.ttf') format('truetype');
}

body {
	color: #000;
	background: linear-gradient(to top, #4cc, #ace);
	height: 100%;
}


#logo {
	width: 39%;
	display: block;
	margin: 0% 28% 1%;
	opacity: 0.75;
	border-radius: 10px;

}

h3 {
	margin: 0;
	text-align: center;
	font-family: "PT Sans";
	font-size: 2em;
	font-weight: normal;
	letter-spacing: -3px;
	color: #246;
	text-shadow: 0px 0px 10px #ffffff;
}

p {
	margin: 1% 0;
	text-align: center;
	font-family: "PT Sans";
	letter-spacing: -1px;
	color: #246;
	text-shadow: 0px 0px 10px #ffffff;
}

#page1 {
	text-align: center;
	height:100%;
	position: relative;
}

#page2 {
	height: 100%;
	position: relative;

}

#page2 h1{
	text-align: center;
}

#page2 p{
	text-align: left;
	font-size: 2em;

}

#page2 contact{
	position: absolute;
	bottom: 0;
	left: 0; 
}

input, button {
	margin: 0.5%;
	padding: 0.5%;
	border-style: none;
	border-radius: 2px;
	background-color: #6dd;
	color: #046;
	font-family: "PT Sans";
	letter-spacing: -1px;
	box-shadow: 0px 0px 1px #266;
}

input:focus {
	box-shadow: inset 0px 0px 25px rgba(255,255,255,0.5);
}

.name {
	width: 10%;
}

#email {
	width: 22%;
}

button {
	width: 7.5%;
	font-size: 15px;
	font-weight: bold;
	color: #246;
	text-shadow: 0px 0px 10px #ffffff;
}