* {
	outline: 0;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

#wrapper {
	height: 100%
}

.column {
	display: inline-block;
	height: 100%;
}

#nav {
	width: 3%;
	background-color: #222;
}

#feed {
	width: 82%;
	background-color: #333;
}

#feeders {
	width: 15%;
	background-color: #444;
}